*{
  padding: 0;
  margin: 0;
  font-family: 'Mukta Malar', sans-serif;
}
.login{
/* text-align: -webkit-center; */
}
.loginForm input{
  /* display: block; */
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  /* margin: 30px 0; */
  margin-top: 45px;
}
.loginForm{
  background: #fff;
  padding: 25px;
  /* max-width: 550px; */
  max-width:300px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
      /* text-align: center; */
  margin-top: 60px;
  line-height: 1;
}
.addblog{
  width: 700px;
  text-align: center;
    max-width: 550px;
}

input[type=submit]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 5px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  margin: 10px 20px 20px 100px;
  width: 100px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  margin: 15px 0;
  width: 90%;
}

.new input{
  width: 97%;

}
.new{
    width: 700px;
}

input:focus {
outline: none;
border-bottom: 2px solid #5fbae9;
}

input:placeholder {
  color: #cccccc;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 1s;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.underlineHover{
  text-decoration:none;
  color: skyBLUE;
}

.message{
  margin: 10px 0;
  color: red;
}

.updateMsg{
    width: 100%;
    margin-top: 18px;
    text-align: center;
    background-color: #C6FF95;
    padding: 16px 0px;
}

.g-recaptcha{
  width: 300px;
    height: 80px;
}
label{
  font-size:0.8em;
}
.registerForm span{
  font-size: 0.8em;
}

.input > .required ,.login > .required{
  color: red;
}
.input{
  position: relative;
}
.field-icon {
  position: absolute;
  top: 22px;
  right: 10px;
    float: right;
  z-index: 2;
}
